@model Lr1.Net.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Company with the most employees: @Model.LargestCompany</h2>

<h2>Personal Information</h2>
<p>Name: @Model.PersonalInfo.Name</p>
<p>Last Name: @Model.PersonalInfo.LastName</p>
<p>Age: @Model.PersonalInfo.Age</p>
<p>City: @Model.PersonalInfo.City</p>
